.venv
# Logs
logs
*.log
npm-debug.log*

# Dependências do Node.js
node_modules/

# Build
build/

# Arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Diretórios temporários
.tmp/
.temp/
.cache/

# Configurações do editor/IDE
.vscode/
.idea/
*.swp

# Ambiente e variáveis de configuração locais
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivo de ambiente principal
# .env

# Cache do Yarn
.yarn/
.pnp.*

# Outros arquivos
.eslintcache
.log